
@model CI3540.UI.Models.LocalPasswordViewModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    
    @Html.AntiForgeryToken()

    <fieldset class="form-horizontal">
        <legend>Change Password Form</legend>
        
        <div class="control-group">
            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "help-inline" })
            </div>
        </div>
                
        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label"})
            <div class="controls">
                @Html.TextBoxFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "help-inline" })
            </div>
        </div>
        
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Change password" />
        </div>
    </fieldset>
}
