
@using CI3540.UI.Areas.Store.Models
@model PaymentViewModel
@{
    ViewBag.Title = "Payment Details";
}

<h2>Payment Processing</h2>


@section SideBar 
{ 
    @{

        var categories = ViewBag.Categories as IEnumerable<CategoryViewModel>;
        
        if (categories != null)
        {
            @Html.Partial("_categories", categories)
        }
    }
}

@section OrderStage
{
   @Html.Partial("_stage")
}


@section OrderProcess
{
    @using (Html.BeginForm("Payment", "Checkout", FormMethod.Post, new { @class = "form-inline" }))
    {
        <fieldset>
            <legend>Card Details</legend>
            
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Card Number</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.CreditCardNumber, new { placeholder = "Your Credit or Debit Card Number" })
                    </div>
                </div>
            </div>
            
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">From Date</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.FromDate, new { placeholder = "mm/yyyy", type = "text", @class="input-mini" })
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Exp. Date</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ExpiryDate, new { placeholder = "mm/yyyy", type = "text", @class="input-mini" })
                    </div>
                </div>
            </div>
            
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">CCV</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.CCV, new { placeholder = "XXX", type = "text", @class="input-mini" })
                    </div></div>
            </div>
        
            <div class="form-actions">
                <a href="@Url.Action("Delivery", "Checkout", new { area = "Store" })" class="btn">Back to Delivery</a>
                <button class="btn btn-primary" type="submit">Pay Now</button>
            </div>

        </fieldset>
    }
   
}